
@{
    ViewData["Title"] = "RegisterSuccess";
}

<h1>RegisterSuccess</h1>

<div class="text-center">
    <h1 class="display-4">Registration Success</h1>
    <p>User successfully registered.</p>
</div>
